*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
nav ul{
    width: 100%;
    list-style: none;
     display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-top: 15px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: backgroung-color 3s, border-radius 0.3s;
}
nav a:hover{
    background-color: #f0f0f0;
    border-radius: 20px;
}
header nav{
    display: flex;
}
header .logo img{
    width: 100px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.sidebar li{
    width: 100%;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}